:root {
  --font: system-ui, sans-serif;
  --color-rgb: 99, 100, 102;
  --background-rgb: 241, 243, 244;
  --time-opacity: 0.6;
  --label-opacity: 0.3;
  --hand-opacity: 0.03;

  --color: rgba(var(--color-rgb), 1);
  --time: rgba(var(--color-rgb), var(--time-opacity));
  --label: rgba(var(--color-rgb), var(--label-opacity));
  --hand: rgba(var(--color-rgb), var(--hand-opacity));
  --background: rgba(var(--background-rgb), 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-rgb: 185, 186, 188;
    --background-rgb: 32, 33, 36;
    --hand-opacity: 0.01;
  }
}

html {
  font-family: sans-serif;
  color: var(--color);
  background-color: var(--background);
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
  font-family: var(--font);
  font-size: 16px;
  line-height: 1;
  overflow-y: auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#widgets {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#widgets > section {
  max-width: 25%;
  margin: 10px;
  border-radius: 15px;
}

#widgets > section.open {
  background-color: #FFFFFF;
}

#widgets > section:not(.open) article {
  display: none;
}

#widgets > #bottom.left {
  position: absolute;
  bottom: 0px;
}

#widgets article {
  padding: 20px;
}

#clocks {
  display: flex;
  min-height: 100vh;
  padding: 40px;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#clocks > section {
  display: flex;
  padding: 40px;
  align-self: center;
  align-items: center;
  flex-flow: column;
}

#clocks > section.clock time {
  font-size: 60px;
  font-weight: 300;
  color: var(--time);
}

#clocks > section.clock label {
  margin-top: 10px;
  color: var(--label);
}

#clocks > hr {
  position: fixed;
  top: calc(50% - 80vw);
  height: 160vw;
  border: 0px solid transparent;
  border-width: 0px 80vw;
  border-left-color: var(--hand);
  transform-origin: center;
  z-index: 0;
}

@media screen and (max-width: 600px) {
  #clocks > hr {
    top: calc(50% - 80vh);
    height: 160vh;
    border-width: 0px 80vh;
  }
}

button {
  display: block;
  padding: 10px;
  color: var(--color);
  background-color: transparent;
  border: 0px;
  outline: 0px;
  opacity: 0.3;
  cursor: pointer;
}

button > img {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -200%;
  background-color: currentColor;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

button > img.gear {
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"/%3E%3C/svg%3E');
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"/%3E%3C/svg%3E');
}