html,
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #EAEAEA;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  box-sizing: border-box;
  z-index: 1;
}

main {
  display: flex;
  min-height: 100vh;
  padding: 40px;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main > section {
  display: flex;
  padding: 40px;
  align-self: center;
  align-items: center;
  flex-flow: column;
}

main > hr {
  position: fixed;
  top: calc(50% - 80vw);
  height: 160vw;
  border: 0px solid transparent;
  border-width: 0px 80vw;
  border-left-color: black;
  transform-origin: center;
  opacity: 0.02;
  z-index: 0;
}

section > time {
  font-size: 60px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.40);
}

section > label {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.20);
}

button {
  position: absolute;
  bottom: 0px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.20);
  background-color: transparent;
  border: 0px;
  outline: 0px;
  cursor: pointer;
}

button > img {
  width: 20px;
  height: 20px;
  background-color: currentColor;
}

img.gear {
  -webkit-mask-image: url('icons/gear.svg');
  mask-image: url('icons/gear.svg');
}

@media screen and (max-width: 600px) {
  main > hr {
    top: calc(50% - 80vh);
    height: 160vh;
    border-width: none 80vh;
  }
}