html {
  font-family: sans-serif;
  color: #636363;
  background-color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  font-family: system-ui, sans-serif;
  font-size: 14px;
  line-height: 1;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  z-index: 1;
}

main {
  padding: 20px;
  border-top: 1px solid #F2F2F2;
}

main > * {
  display: flex;
}

section {
  margin-bottom: 10px;
}

section#clocks {
  flex-flow: column nowrap;
}

section#settings {
  margin-bottom: 20px;
  flex-flow: row wrap;
  justify-content: space-between;
}

*.inputs {
  display: inline-flex;
}

*.inputs:not(:first-of-type) > * {
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

*.inputs:not(:last-of-type) > * {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

*.inputs > *:not(:first-child) {
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

*.inputs > *:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

input,
select,
label,
button {
  height: 34px;
  border: 1px solid;
  border-radius: 4px;
  outline: 0px;
}

input,
select,
button {
  padding: 0px 10px;
  font-size: inherit;
  color: inherit;
  border-color: #DADADA;
  -webkit-appearance: none;
  appearance: none;
}

input,
select {
  width: 100%;
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
}

select,
label,
button {
  cursor: pointer;
}

select,
label > input,
button {
  background-color: #F2F2F2;
}

input {
  background-color: transparent;
}

input::placeholder {
  color: #B6B6B6;
}

select {
  padding-right: 32px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath fill="%23636363" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"/%3E%3C/svg%3E');
  background-position: calc(100% - 10px);
}

label {
  display: flex;
  white-space: nowrap;
  align-items: center;
  border-color: #F2F2F2;
  flex-basis: calc(50% - 5px);
}

label > input {
  width: 22px;
  height: 22px;
  margin: 5px;
  margin-right: 10px;
  padding: 0px;
}

label > input:checked:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  margin: 4px;
  background-color: currentColor;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/%3E%3C/svg%3E');
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/%3E%3C/svg%3E');
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

label > dfn {
  font-style: normal;
}

button {
  display: inline-flex;
  font-weight: bold;
  color: inherit;
  flex: 0;
}

button#submit {
  margin-right: auto;
  color: #FFFFFF;
  background-color: #636467;
  border-color: #636467;
}

button > * {
  pointer-events: none;
}

button > img {
  display: block;
  width: 12px;
  height: 14px;
  text-indent: -200%;
  background-color: currentColor;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

button > img.plus {
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/%3E%3C/svg%3E');
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/%3E%3C/svg%3E');
}

button > img.minus {
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/%3E%3C/svg%3E');
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/%3E%3C/svg%3E');
}

@media (prefers-color-scheme: dark) {
  html {
    color: #DEDEDE;
    background-color: #292A2D;
  }

  main {
    border-top-color: #363636;
  }

  input,
  select,
  button {
    border-color: #4F4F4F;
  }

  select,
  label > input,
  button {
    background-color: #363636;
  }

  input::placeholder {
    color: #585858;
  }

  select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23DEDEDE' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'/%3E%3C/svg%3E");
  }

  label {
    border-color: #363636;
  }

  button#submit {
    color: #292A2D;
    background-color: #DEDEDE;
    border-color: #DEDEDE;
  }
}